# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. R
2. Python
3. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Plotly
3. Seaborn

|Data Science Tools|
|------------------|
|RStudio|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.
Addition (+)
Subtraction (-)
Multiplication (*)
Division (/)

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__

- List arithmetic expression in Python 
- List Data science libaries
- List Data science tools
- a code to convert minutes to hours

## Author
Mehdi Alfalouji